=simple_form_for @article do |f|
   .input-group
      =f.collection_select :category_id, Category.all, :id,:name,{prompt:"Choose a category"},input_html: { class: 'form-control' }
      =f.input :title,input_html: { class: 'form-control' }
      =f.input :content,input_html: { class: 'form-control' }
      =f.submit
 
