%h1 Index of Articles
- @articles.each do |article|
   %h2= article.title
   %p= truncate(article.content, length: 200) 
   %h6
      published at:
      =article.created_at.strftime('%b,%d,%Y')
= link_to "New Article",new_article_path
